body{
    background: linear-gradient( #2a1d97,  #6b1838 );
    overflow: hidden;
    color: aliceblue;
}
#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7%;
}
fieldset{
    text-align: center;
}
#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(247, 248, 170);
    border: 3px solid rgb(216, 173, 173);
    border-radius: 20px;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
    border-radius: 20%;
}

.red{
    background-color: rgb(255, 64, 64); 
}
.blue{
    background-color: rgb(81, 81, 255); 
}

.green{
    background-color: rgb(78, 216, 78); 
}